# Environment variables
PORT=3000
NODE_ENV=development or production
PINO_LOG_LEVEL=info or debug or trace
MONGODB_URI=mongodb+srv://${username}:${password}@${host}/${database}?retryWrites=true&w=majority&appName=${cluster}

ACCESS_TOKEN_TTL=10m
REFRESH_TOKEN_TTL=7d

# Generate secure RSA public/private keys. NIST recommends at least 2048-bit
# keys.An RSA key length of at least 3072 bits should be used if security is
# required beyond 2030.
PRIVATE_KEY="{openssl genrsa -out private.pem 2048}"
PUBLIC_KEY="{openssl rsa -in private.pem -outform PEM -pubout -out public.pem}"
